@page
@model rds_test.Pages_ApplicationUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Ansatt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.emp_num)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.emp_num)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.dept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.dept.team)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ApplicationUser?.emp_num">Rediger</a> |
    <a asp-page="./Index">Tilbake</a>
</div>
