@page
@model rds_test.Pages.Suggestions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="../css/site.css">
</head>

<h3> Forslag Saksnummer: @Html.DisplayFor(model => model.Suggestion.case_num)</h3>

<div>
    <dl class="detailsRow row">
        <div class="col-4">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.title)
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.title)
                </div>
            </div>
        </div>
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.deadline)
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.deadline)
                </div>
            </div>
        </div>
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.timeframe)
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.timeframe)
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.responsible)
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.responsible)
                </div>
            </div>
        </div>
    </dl>

    <dl class="detailsRow row">
        <div class="col-8">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.description)
            </dt>
            <div class="card" style="height: 20vh;">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.description)
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
            <dt>
                <p>Deltakere</p>
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Participants.Id)
                </div>
            </div>
            <br>
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.resdept)
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.resdept)
                </div>
            </div>
        </div>
    </dl>
    <dl class="detailsRow row">
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.pdsa_plan)
            </dt>
            <div class="card" style="height: 10vh;">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.pdsa_plan)
                </div>
            </div>
        </div>
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.pdsa_do)
            </dt>
            <div class="card" style="height: 10vh;">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.pdsa_do)
                </div>
            </div>
        </div>
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.pdsa_study)
            </dt>
            <div class="card" style="height: 10vh;">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.pdsa_study)
                </div>
            </div>
        </div>
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.pdsa_act)
            </dt>
            <div class="card" style="height: 10vh;">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.pdsa_act)
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.status)
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.status)
                </div>
            </div>
        </div>
    </dl>

    <dl class="detailsRow row">
        <div class="col-4">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.pic_before_data)
            </dt>
            <div class="card">
                <div class="card-body">
                    <img src="data:image/jpg;base64,@Html.DisplayFor(model => model.Suggestion.pic_before_data)"
                        width="180px" height="180px" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.pic_after_data)
            </dt>
            <div class="card">
                <div class="card-body">
                    <img src="data:image/jpg;base64,@Html.DisplayFor(model => model.Suggestion.pic_after_data)"
                        width="180px" height="180px" />
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <dt>
                <p>Opprettet av</p>
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.Id)
                </div>
            </div>
            <br>
            <dt>
                @Html.DisplayNameFor(model => model.Suggestion.timestamp)
            </dt>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(model => model.Suggestion.timestamp)
                </div>
            </div>
        </div>
    </dl>
</div>


<div class="row">
    <div class="form-group">
        <button class="btn btn-success"> <a asp-page="./Edit" asp-route-id="@Model.Suggestion.case_num">Rediger</a>
        </button>
        <button class="btn btn-danger"> <a asp-page="/Suggestions/Delete"
                asp-route-id="@Model.Suggestion?.case_num">Slett</a> </button>
        <a asp-page="/Index">Tilbake</a>
    </div>

</div>
