@page
@model SuggestionModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Nytt forslag";
}

<h1>Opprett et forslag</h1>

<div class="form">
    <form method="post">
        <input asp-for="suggestion.title" placeholder="Tittel" required>
        <textarea asp-for="suggestion.description" cols="30" rows="5"></textarea>
        @* <input asp-for="suggestion.description" placeholder="Beskrivelse"> *@
        <br>
        <input asp-for="suggestion.pdsa_plan" placeholder="Plan">
        <input asp-for="suggestion.pdsa_do" placeholder="Do">
        <input asp-for="suggestion.pdsa_study" placeholder="Study">
        <input asp-for="suggestion.pdsa_act" placeholder="Act">
        <!-- <input asp-for="suggestion.status" placeholder="Status"> -->
        <select asp-for="suggestion.status" size="4">
        <option value="P">P</option>
        <option value="D">D</option>
        <option value="S">S</option>
        <option value="A">A</option>
        </select>
        <input asp-for="suggestion.responsible" placeholder="Anvarlig">
        <input asp-for="suggestion.resdept" placeholder="Ansvarig avdeling">
        <input type="file" asp-for="suggestion.pic_before" placeholder="Bilde før">
        <input type="file" asp-for="suggestion.pic_after" placeholder="Bilde etter">
        <input asp-for="suggestion.timeframe" placeholder="Tidsramme">
        <input type="date" asp-for="suggestion.deadline" placeholder="Tidsfrist">
        <button type="submit" value="submit">Opprett</button>
    </form>
</div>

<div>
@foreach (var item in Model.suggestions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.case_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdsa_plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdsa_do)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdsa_study)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdsa_act)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.responsible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resdept)
            </td>
            <br>
            
        </tr> } 
</div> 

