@* @page
    @model rds_test.Pages_Employees.DetailsModel

    @{
    ViewData["Title"] = "Details";
    }

    <h1>Detaljer</h1>

    <div>
    <h4>Ansatt</h4>
    <hr />
    <dl class="row">
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Emp.name)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Emp.name)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Emp.password)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Emp.password)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Emp.dept)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Emp.dept.team)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Emp.admin)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Emp.admin)
    </dd>
    </dl>
    </div>
    <div>
    <a asp-page="./Edit" asp-route-id="@Model.Emp?.emp_num">Rediger</a> |
    <a asp-page="./Index">Tilbake</a>
    </div> *@
