@page
@using rds_test.Models
@model rds_test.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<html>

<body>
    <div class="topnav">
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Søk.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="container">
        <h2 class="tekst">Filtrer</h2>
        <div class="dropdown">
            <button class="teambtn" type="button" data-toggle="dropdown">Team
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Produksjon</a></li>
                <li><a href="#">Teknisk</a></li>
                <li><a href="#">Salg og marked</a></li>
                <li><a href="#">Logistikk</a></li>
                <li><a href="#">Ledergruppe</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="dropdown">
            <button class="prosessbtn" type="button" data-toggle="dropdown">Prosess
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Plan</a></li>
                <li><a href="#">Do</a></li>
                <li><a href="#">Study</a></li>
                <li><a href="#">Act</a></li>
            </ul>
        </div>
    </div>

</body>

<table class="suggestionTable">
    <thead>
    </thead>
    <tbody>
@foreach (var item in Model.Suggestion) {

        <tr class="trSuggestionIndex" style="cursor: pointer;" onclick="location.href = '/Suggestions/Details?id=@item.case_num'">
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                <p></p>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <p>Avdeling</p>
                @Html.DisplayFor(modelItem => item.resdept)
            </td>
            <td>
                <p>Ansvarlig</p>
                @Html.DisplayFor(modelItem => item.responsible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-page="/Suggestions/Edit" asp-route-id="@item.case_num">Edit</a> |
                <a asp-page="/Suggestions/Delete" asp-route-id="@item.case_num">Delete</a>
            </td>
        </tr>

     
}

    </tbody>
</table>
