@page
@using rds_test.Models
@model rds_test.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="../css/index.css">



<div class="main container-fluid">
    <div class="row">
        <div class="filterbar col-2">
            <div class="topnav">
                <div class="search-row">
                    <form asp-action="/Index" method="get">
                        <div class="form">
                            <button type="submit"><i class="fa fa-search"></i></button>
                            <input type="text" class="form-control form-input" placeholder="Search anything..."
                                name="searchString" value="@Model.currentFilter">
                        </div>
                    </form>
                </div>
            </div>



            <div>
                <div class="row">
                    <div>Fildiver</div>
                    <div><a asp-page="/Index" asp-route-sordivata="@Model.timestampSort">Nyeste øverst</a></div>
                    <div><a asp-page="/Index" asp-route-sordivata="@Model.deadlineSort">Tidsfrist</a></div>
                    <div><a asp-page="/Index" asp-route-sordivata="@Model.timeframeJDISort">Just do it</a></div>
                    <div><a asp-page="/Index" asp-route-sordivata="@Model.timeframeShortSort">Kortsiktig</a></div>
                    <div><a asp-page="/Index" asp-route-sordivata="@Model.timeframeLongSort">Langsiktig</a></div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="dropdown">
                        <button class="teambtn" type="button" data-toggle="dropdown">Team
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Produksjon</a></li>
                            <li><a href="#">Teknisk</a></li>
                            <li><a href="#">Salg og marked</a></li>
                            <li><a href="#">Logistikk</a></li>
                            <li><a href="#">Ledergruppe</a></li>
                        </ul>
                    </div>


                    <div class="dropdown">
                        <button class="prosessbtn" type="button" data-toggle="dropdown">Prosess
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Plan</a></li>
                            <li><a href="#">Do</a></li>
                            <li><a href="#">Study</a></li>
                            <li><a href="#">Act</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div>Mine forslag</div>
                    <div><a asp-page="/Index">Alle forslag</a></div>
                    <div>Fullførte forslag</div>
                    <div>Avviste forslag</div>
                </div>
            </div>
        </div>


        <div class="suggestionColumn col-10">
            <div class="suggestionLayout row">
                @foreach (var item in Model.Suggestion)
                {
                    <div class="suggestionRow" onclick="location.href = '/Suggestions/Details?id=@item.case_num'">
                        <div class="col-6">
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.title)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.description)
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <p>Avdeling</p>
                                @Html.DisplayFor(modelItem => item.resdept)
                            </div>
                            <div class="row">
                                <p>Ansvarlig</p>
                                @Html.DisplayFor(modelItem => item.responsible)
                            </div>
                        </div>
                        <div class="col-2 order-last">
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.deadline)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.status)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
