@page
@model rds_test.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="../css/index.css">

<div class="main container-fluid">
    <div class="row">
        <div class="filterbar col-2">
            <div class="topnav">
                <div class="search-row">
                    <form asp-action="/Index" method="get">
                        <div class="form">
                            <input type="text" class="form-control form-input" placeholder="Søk på forslag..."
                                name="searchString" value="@Model.currentFilter">
                            @* <button type="submit" class="btn-src"><i class="fa fa-search"></i></button> *@
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div class="filterRow row">
                    <h4>Filtrer</h4>
                    <div><a asp-page="/Index" asp-route-sortData="@Model.timestampSort">Nyeste øverst</a></div>
                    <div><a asp-page="/Index" asp-route-sortData="@Model.deadlineSort">Tidsfrist</a></div>
                    <div><a asp-page="/Index" asp-route-sortData="@Model.timeframeJDISort">Just do it</a></div>
                    <div><a asp-page="/Index" asp-route-sortData="@Model.timeframeShortSort">Kortsiktig</a></div>
                    <div><a asp-page="/Index" asp-route-sortData="@Model.timeframeLongSort">Langsiktig</a></div>
                </div>
            </div>

            <div>
                <div class="filterRow row">
                    <div class="dropdown">
                        <button class="teambtn" type="button" data-toggle="dropdown">Avdeling
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Index" asp-route-sortData="@Model.deptProduksjonSort">Produksjon</a></li>
                            <li><a asp-page="/Index" asp-route-sortData="@Model.deptSalgSort">Salg og marked</a></li>
                            <li><a asp-page="/Index" asp-route-sortData="@Model.deptLogistikkSort">Logistikk</a></li>
                            <li><a asp-page="/Index" asp-route-sortData="@Model.deptLederSort">Ledergruppe</a></li>
                            <li><a asp-page="/Index" asp-route-sortData="@Model.deptTekniskSort">Teknisk</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="prosessbtn" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Index" asp-route-sortData="@Model.statusPlanSort">Plan</a></li>
                            <li><a asp-page="/Index" asp-route-sortData="@Model.statusDoSort">Do</a></li>
                            <li><a asp-page="/Index" asp-route-sortData="@Model.statusStudySort">Study</a></li>
                            <li><a asp-page="/Index" asp-route-sortData="@Model.statusActSort">Act</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <div class="filterRow row">
                    <div>Mine forslag</div>
                    <div><a asp-page="/Index">Alle forslag</a></div>
                    <div>Fullførte forslag</div>
                    <div>Avviste forslag</div>
                </div>
            </div>
        </div>

        <div class="suggestionColumn col-10">
            <div class="suggestionLayout row">
                @foreach (var item in Model.Suggestion)
                {
                    <div class="card" onclick="location.href = '/Suggestions/Details?id=@item.case_num'">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4>@Html.DisplayFor(modelItem => item.title)</h4>
                                </div>
                                <div class="col-3" style="padding-top: 15px;">
                                    <p>Avdeling: @Html.DisplayFor(modelItem => item.resdept)</p>
                                </div>
                                <div class="col-2" style="padding-top: 15px;">
                                    <p>Tidsfrist: @Html.DisplayFor(modelItem => item.deadline)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    @Html.DisplayFor(modelItem => item.description)
                                </div>
                                <div class="col-3">
                                    <p>Ansvarlig: @Html.DisplayFor(modelItem => item.responsible) </p>
                                </div>
                                <div class="col-2">
                                    <p>Status: @Html.DisplayFor(modelItem => item.status)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
